.banner{ 
    background-image: url(../images/jpg/banner_desktop.jpg);
    display: flex;
    justify-content:flex-end;
    align-items: center;
    height:24rem;
}
.banner h2{
    display:block;
    color: #fff;
    padding-right: 1rem;
}
header{height: 5rem;}

#mapa{
    display: block;
    width: 50%;
}

.seccion-diplomado{
    margin:8rem auto;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
    align-items: center;
}
body .seccion-diplomado{
    width: 90%;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
}
body .seccion-galeria{
    margin-bottom: 10rem;
    width: 80%;
}
body .seccion-contacto{
    margin-bottom: 3rem;
    width: 88%;
}
.seccion-diplomado article{
    text-align: left;
}
.seccion-diplomado a{
    width: 50%;
    text-align: center;
    margin: 0;
}
.seccion-diplomado article p{
    margin: 0;
    margin-bottom: 2rem;
}
.boton__subir{
    display:block;
}
.seccion-galeria__col{
    display: grid;
    gap:1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}
.seccion-galeria__col picture{
    width: 100%;
    height: 100%;
    margin-right:2rem;
    
    
}
.seccion-galeria .seccion-galeria__col .span3{
    grid-column-start: 1;
    grid-column-end: 4;
    margin-right: 0;
}
.seccion-contacto article p{
    margin-bottom: 3rem;
}
form{
    width:50%;
    float: left;
}

.banner h2{
    font-size: 3.75rem;
}

p{
    font-size: 1.6rem;
}
footer{
    width: 100%;
    height: 9rem;
}
footer p{
    font-size:1.14rem;
}
.seccion-contacto iframe{
    height: 23.75rem;
}

